.page__footer {
  background: #000;
  padding: 1em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

@media only screen and (min-width: 35em) {
  .page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
  }
}
