.footer {
  grid-area: footer;
  min-height: 2em;
}

@media (min-width: 450px) {
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    border-top: 5px solid rgb(192, 186, 186);
    align-items: center;
    min-height: 2em;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.img {
  width: 3em;
}

.footer>a {
  text-decoration: none;
  color: #577165;
}

.footer>a:hover {
  color: #375547;
}

.footer-text {
  color: #dad7d2;
}