/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar__menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar__menu li {
  float: left;
  cursor: pointer;
}

.navbar__menu li a {
  display: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar__list {
  display: grid;
}

.navbar__menu .responsive li a {
  float: none;
  display: block;
  text-align: left;
}

.active {
  background-color: #04aa6d;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar__menu .menu__link:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
}

.icon {
  display: block !important;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (min-width: 35em) {
  .icon {
    display: none !important;
  }
  .navbar__menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #navbar__list {
    display: block;
  }
}
