.header {
  grid-area: header;
  display: grid;
  border-bottom: 5px solid black;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-text {
  margin-left: 1em;
  display: flex;
  position: relative;
  color: black;
}

.logout-link {
  font-size: medium;
  text-decoration: none;
  position: absolute;
  right: 0;
  text-decoration: none;
}

.logout-link:hover {
  color: #577165;
  text-decoration: underline;
}

#navmenu {
  background-color: #dcffd3;
}

#nav-bar-list {
  list-style-type: none;
}

#navmenu li {
  padding: 0px;
  transition: background-color 0.2s ease;
  margin-right: 5px;
}

#navmenu li > a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: #577165;
  cursor: pointer;
  font-size: larger;
}

#navmenu li > a:hover {
  color: #375547;
}

.active {
  background-color: #1c3a2c;
}

@media (min-width: 450px) {
  #navmenu {
    background-color: #dcffd3;
    display: inline-block;
    position: static;
    width: auto;
    max-width: 100%;
  }

  #nav-bar-list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-top: 2px;
    list-style-type: none;
  }
}
